body {
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 360px) {
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
  }
}

p {
  color: teal;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 360px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}
@media screen and (min-width: 768px) {
  .remove-margin-bottom {
    padding: 60px 0 30px 0;
  }
}
@media screen and (min-width: 1200px) {
  .remove-margin-bottom {
    padding: 94px 0 64px 0;
  }
}

@media screen and (min-width: 360px) {
  .container {
    width: 360px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding: 94px 0;
}
@media screen and (min-width: 360px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-color: white;
  padding: 32px 0;
  border-bottom: 1px solid #ececec;
  width: 100%;
  z-index: 2;
}
@media screen and (min-width: 360px) {
  .header {
    padding: 16px 0;
  }
}
@media screen and (min-width: 768px) {
  .header {
    padding: 23px 0;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 32px 0;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 360px) {
  .header-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header-list {
    display: flex;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .header-list {
    display: flex;
    margin-left: 60px;
  }
}

.img-logo {
  height: 40px;
}

.header__item {
  margin-right: 30px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  transition: 0.5s;
  padding: 32px 0;
}
.header-link:hover {
  color: var(--accent-color);
}
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-btn-color);
}

.menu-open-btn {
  background: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-open-btn {
    display: none;
  }
}

.menu-close-btn {
  background: transparent;
  border: none;
  position: absolute;
  top: 21px;
  right: 25px;
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-close-btn {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob__item:hover {
  color: #2196f3;
}
.mob__item:focus {
  color: #2196f3;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.hero {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Julz_Photoshoot_(LQ)_022.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 210px;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 210px;
  }
}

.hero-container {
  width: 696px;
  margin: 0 auto;
}
@media screen and (min-width: 360px) {
  .hero-container {
    width: 75%;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    width: 696px;
  }
}

.hero-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .hero-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  padding: 10px 32px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: rgba(196, 196, 196, 0.3137254902);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  }
}

@media screen and (min-width: 360px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.about-title {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #212121;
}
@media screen and (min-width: 360px) {
  .about-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .about-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
@media screen and (min-width: 1200px) {
  .about-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.additional {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (min-width: 360px) {
  .about-img {
    height: 305px;
  }
}
@media screen and (min-width: 768px) {
  .about-img {
    height: 503px;
  }
}
@media screen and (min-width: 1200px) {
  .about-img {
    height: 503px;
  }
}

.about-wrapper {
  display: flex;
}
@media screen and (min-width: 360px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .about-wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}

.about-left {
  padding-right: 30px;
}
@media screen and (min-width: 360px) {
  .about-left {
    padding-right: 0px;
  }
}
@media screen and (min-width: 768px) {
  .about-left {
    padding-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .about-left {
    padding-right: 30px;
  }
}

.about-text {
  line-height: 20px;
}

.services {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/JulzPhotoshoot_LQ_011.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .services {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .services {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .services {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.services-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .services-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .services-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .services-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.services-cards {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 360px) {
  .services-cards {
    flex-direction: column;
    justify-content: space-between;
    margin: -5px 0;
  }
}
@media screen and (min-width: 768px) {
  .services-cards {
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .services-cards {
    flex-direction: row;
    margin: 0 -5px;
  }
}

.service-card {
  width: 33%;
  background-color: rgba(196, 196, 196, 0.3137254902);
  padding: 50px 20px;
}
@media screen and (min-width: 360px) {
  .service-card {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 768px) {
  .service-card {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .service-card {
    width: 33%;
    flex: 1 1 auto;
    margin: 0 5px;
  }
}

.service-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.service-caption {
  line-height: 30px;
  color: #ffffff;
}

@media screen and (min-width: 360px) {
  .lessons {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .lessons {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .lessons {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.lessons-title {
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #212121;
}
@media screen and (min-width: 360px) {
  .lessons-title {
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
@media screen and (min-width: 768px) {
  .lessons-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
@media screen and (min-width: 1200px) {
  .lessons-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.lessons-wrapper {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 360px) {
  .lessons-wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: -5px 0;
  }
}
@media screen and (min-width: 768px) {
  .lessons-wrapper {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .lessons-wrapper {
    flex-direction: row;
    margin: 0 -5px;
  }
}

.lessons-item {
  width: 50%;
}
@media screen and (min-width: 360px) {
  .lessons-item {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 768px) {
  .lessons-item {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .lessons-item {
    width: 50%;
    flex: 1 1 auto;
    margin: 0 5px;
  }
}

.lessons-subtitle {
  text-align: center;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.lessons-text {
  line-height: 20px;
}

.lessons-caption {
  margin-bottom: 20px;
}

.offer-title {
  text-align: left;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.fee-title {
  text-align: left;
  font-style: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.prices {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 360px) {
  .prices {
    flex-direction: column;
    justify-content: space-between;
    margin: -5px 0;
  }
}
@media screen and (min-width: 768px) {
  .prices {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 -5px;
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    flex-direction: row;
    margin: 0 -5px;
  }
}

.prices-item {
  width: 50%;
  background-color: rgba(196, 196, 196, 0.3137254902);
  padding: 30px 20px;
}
@media screen and (min-width: 360px) {
  .prices-item {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 768px) {
  .prices-item {
    width: 50%;
    flex: 1 1 auto;
    margin: 0 5px;
  }
}
@media screen and (min-width: 1200px) {
  .prices-item {
    width: 50%;
    flex: 1 1 auto;
    margin: 0 5px;
  }
}

li {
  line-height: 18px;
}

@media screen and (min-width: 360px) {
  .lessons-slider {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 768px) {
  .lessons-slider {
    margin: 0 16%;
  }
}
@media screen and (min-width: 1200px) {
  .lessons-slider {
    width: 50%;
    flex: 1 1 auto;
    margin: 0 5px;
  }
}

.feedbacks {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Julz Photoshoot (LQ) 012.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #c4c4c4;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 360px) {
  .feedbacks {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .feedbacks {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .feedbacks {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.feedbacks-text {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
@media screen and (min-width: 360px) {
  .feedbacks-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 768px) {
  .feedbacks-text {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    /* or 162% */
    text-align: center;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .feedbacks-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.feedbacks-cards {
  display: none;
  justify-content: space-between;
}
@media screen and (min-width: 360px) {
  .feedbacks-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -5px 0;
  }
}
@media screen and (min-width: 768px) {
  .feedbacks-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .feedbacks-cards {
    display: none;
    flex-direction: row;
    margin: 0 -5px;
  }
}

.feedback-card {
  width: 25%;
  background-color: rgba(196, 196, 196, 0.3137254902);
  padding: 50px 20px;
}
@media screen and (min-width: 360px) {
  .feedback-card {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 768px) {
  .feedback-card {
    width: 100%;
    flex: 1 1 auto;
    margin: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .feedback-card {
    width: 25%;
    flex: 1 1 auto;
    margin: 0 5px;
  }
}

.feedback-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 5px;
}

.feedback-caption {
  line-height: 30px;
  color: #ffffff;
}

.age {
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.carousel-wrapper {
  position: relative;
}
@media screen and (min-width: 360px) {
  .carousel-wrapper {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .carousel-wrapper {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-wrapper {
    display: block;
  }
}

.reviewer-data-wrapper {
  height: 154px;
}

.reviewer-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  min-height: 60px;
  margin: 0;
  margin-top: 36px;
}

.reviewer-name {
  font-size: 16px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-top: 37px;
}

.reveiwer-age {
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #bbbbbb;
  margin: 0;
}

.avatar-container {
  margin-top: 38px;
  height: 166px;
}

.avatar {
  border: 12px solid rgba(196, 196, 196, 0.31);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 150px;
}

.thumbnail-container {
  width: 361px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}

.thumbnail {
  border: 6px solid rgba(196, 196, 196, 0.31);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  height: 50px;
}

.selected-thumbnail {
  bottom: 15px;
  -webkit-animation: smoothraise 0.5s ease-in-out;
          animation: smoothraise 0.5s ease-in-out;
}

.deselected-thumbnail {
  -webkit-animation: smoothfall 0.5s ease-in-out;
          animation: smoothfall 0.5s ease-in-out;
}

@-webkit-keyframes smoothfall {
  from {
    bottom: 15px;
  }
  to {
    bottom: 0;
  }
}

@keyframes smoothfall {
  from {
    bottom: 15px;
  }
  to {
    bottom: 0;
  }
}
@-webkit-keyframes smoothraise {
  from {
    bottom: 0;
  }
  to {
    bottom: 15px;
  }
}
@keyframes smoothraise {
  from {
    bottom: 0;
  }
  to {
    bottom: 15px;
  }
}
.carousel-button {
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #bbbbbb;
  cursor: pointer;
  width: 31px;
  height: 31px;
  transition: background 0.5s ease-in-out, border 0.5s ease-in-out;
}

[data-direction=next] {
  position: absolute;
  bottom: 36.5px;
  right: 338.5px;
  transform: translateY(50%);
}

[data-direction=previous] {
  position: absolute;
  bottom: 36.5px;
  left: 338.5px;
  transform: translateY(50%);
}

.carousel-button > svg {
  pointer-events: none;
}

.arrow {
  transition: fill 0.5s ease-in-out;
}

.carousel-button:hover {
  background: rgba(196, 196, 196, 0.3137254902);
  border: none;
}

.carousel-button:hover .arrow {
  fill: #fff;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms;
}

.backdrop.is-hidden .modal {
  transform: rotate(0) scale(0.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  width: 528px;
  height: 515px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
@media screen and (min-width: 360px) {
  .modal {
    width: 450px;
    height: 515px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 515px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 515px;
  }
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-input {
  display: block;
  width: 448px;
  height: 40px;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-top: 4px;
}
@media screen and (min-width: 360px) {
  .modal-input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .modal-input {
    width: 100%;
  }
}
.modal-close {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg path {
  fill: rgba(196, 196, 196, 0.3137254902);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.comment {
  height: 120px;
}

textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  padding: 12px 16px;
  resize: none;
}

.name:focus,
.tel:focus,
.mail:focus,
.comment:focus {
  border: 1px solid rgba(196, 196, 196, 0.3137254902);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
}

.submit {
  padding: 10px 55px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.submit-wrapper {
  text-align: center;
  margin-top: 30px;
}/*# sourceMappingURL=main.css.map */