.splide__pagination {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  pointer-events: none;
}
.splide__pagination li {
  display: inline-block;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  pointer-events: auto;
}
.splide:not(.is-overflow) .splide__pagination {
  display: none;
}/*# sourceMappingURL=pagination.css.map */is-active {
  background: #fff;
  z-index: 1;
  transform: scale(1.4);
}
.splide__pagination__page:hover {
  cursor: pointer;
  opacity: 0.9;
}
.splide__pagination__page:focus-visible {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}
.splide.is-focus-in .splide__pagination__page:focus {
  outline: #0bf 3px solid;
  outline-offset: 3px;
}/*# sourceMappingURL=pagination.css.map */