.splide__toggle__pause {
  display: none;
}
.splide__toggle.is-active .splide__toggle__play {
  display: none;
}
.splide__toggle.is-active .splide__toggle__pause {
  display: inline;
}/*# sourceMappingURL=toggle.css.map */sourceMappingURL=toggle.css.map */