.lessons {
    
    @media screen and (min-width: 360px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  .lessons-title {
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    color: #212121;
    @media screen and (min-width: 360px) {
      font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
    }
    @media screen and (min-width: 768px) {
      font-weight: 700;
font-size: 28px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.03em;

color: #212121;
    }
    @media screen and (min-width: 1200px) {
      text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
  
    color: #212121;
    }
  }

  .lessons-wrapper {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 360px) {
      flex-direction: column-reverse;
      justify-content: space-between;
      margin: -5px 0;
      }
      @media screen and (min-width: 768px) {
        flex-direction: column-reverse;
        justify-content: space-between;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin: 0 -5px;
      }
  }

  .lessons-item {
    width: 50%;
    // padding: 50px 20px;
    @media screen and (min-width: 360px) {
        width: 100%;
        flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 768px) {
            width: 100%;
            flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 1200px) {
            width: 50%;
            flex: 1 1 auto;
        margin: 0 5px;
        }
  }

  .lessons-subtitle {
    text-align: center;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  .lessons-text {
    line-height: 20px;
  }

  .lessons-caption {
    margin-bottom: 20px;
  }

  .offer-title {
    text-align: left;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  .fee-title {
    text-align: left;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  .prices {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 360px) {
      flex-direction: column;
      justify-content: space-between;
      margin: -5px 0;
      }
      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        margin: 0 -5px;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin: 0 -5px;
      }
  }

  .prices-item {
    width: 50%;
    background-color: #c4c4c450;
    padding: 30px 20px;
    @media screen and (min-width: 360px) {
        width: 100%;
        flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 768px) {
          width: 50%;
          flex: 1 1 auto;
      margin: 0 5px;
        }
        @media screen and (min-width: 1200px) {
            width: 50%;
            flex: 1 1 auto;
        margin: 0 5px;
        }
  }

  // .offers-list-item {
  //   list-style: disc;
  // }

  // .fee-list-item:not(:first-child, :last-child) {
  //   list-style: disc;
  // }

  li {
    line-height: 18px;
  }

  .lessons-slider {
    @media screen and (min-width: 360px) {
      width: 100%;
      flex: 1 1 auto;
      margin: 5px 0;
      }
      @media screen and (min-width: 768px) {
    //     width: 50%;
    //     flex: 1 1 auto;
    // margin: 0 5px;
    margin: 0 16%;
      }
      @media screen and (min-width: 1200px) {
          width: 50%;
          flex: 1 1 auto;
      margin: 0 5px;
      }
  }