.backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 500ms;
  }
  
  .backdrop.is-hidden .modal {
    transform: rotate(0) scale(0.3);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
    width: 528px;
    height: 515px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
    @media screen and (min-width: 360px) {
      width: 450px;
      height: 515px;
      // margin-top: 70px;
    }
    @media screen and (min-width: 768px) {
      width: 450px;
      height: 515px;
      // margin-top: 70px;
    }
    @media screen and (min-width: 1200px) {
      width: 528px;
    height: 515px;
    // margin-top: 70px;
    }
  }

  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
  }
  
  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
