.services {
    background: linear-gradient(#2f303a66, #2f303a66), url("../images/JulzPhotoshoot_LQ_011.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #c4c4c4;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    @media screen and (min-width: 360px) {
      
      padding: 60px 0;
    }
    @media screen and (min-width: 768px) {
      padding: 60px 0;
    }
    @media screen and (min-width: 1200px) {
      width: 100%;
      padding-top: 60px;
    padding-bottom: 60px;
    }
}

.services-text {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 30px;
    @media screen and (min-width: 360px) {
      font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
    }
    @media screen and (min-width: 768px) {
      font-weight: 900;
font-size: 26px;
line-height: 42px;
/* or 162% */

text-align: center;
letter-spacing: 0.06em;
    }
    @media screen and (min-width: 1200px) {
      font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    }
  }

  .services-cards {
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 360px) {
      flex-direction: column;
      justify-content: space-between;
      margin: -5px 0;
      }
      @media screen and (min-width: 768px) {
        flex-direction: column;
        justify-content: space-between;
      }
      @media screen and (min-width: 1200px) {
        flex-direction: row;
        margin: 0 -5px;
      }
  }

  .service-card {
    width: 33%;
    background-color: #c4c4c450;
    padding: 50px 20px;
    @media screen and (min-width: 360px) {
        width: 100%;
        flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 768px) {
            width: 100%;
            flex: 1 1 auto;
        margin: 5px 0;
        }
        @media screen and (min-width: 1200px) {
            width: 33%;
            flex: 1 1 auto;
        margin: 0 5px;
        }
  }

  .service-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .service-caption {
    line-height: 30px;
    color: #ffffff;
  }